[구글 코랩(Colab)에서 실행하기](https://colab.research.google.com/github/lovedlim/bigdata_analyst_cert_v2/blob/main/part3/ch3/ch3_chi_square.ipynb)

#1. 적합도 검정

In [2]:
from scipy import stats
observed = [150, 120, 30]
expected = [0.5*300, 0.35*300, 0.15*300]
print(stats.chisquare(observed, expected))

Power_divergenceResult(statistic=7.142857142857142, pvalue=0.028115659748972056)

# 2. 독립성 검정

## 2-1 교차표 데이터

In [8]:
import pandas as pd
df = pd.DataFrame({'좋아함': [80, 90],
                   '좋아하지 않음': [30, 10]},
                  index=['남자', '여자'])
print(df)

    좋아함  좋아하지 않음
남자   80       30
여자   90       10

In [10]:
df = pd.DataFrame([[80, 30], [90, 10]],
                  columns=['좋아함', '좋아하지 않음'],
                  index=['남자', '여자'])
print(df)

    좋아함  좋아하지 않음
남자   80       30
여자   90       10

In [4]:
# df = [[80, 30], [90, 10]]

In [12]:
from scipy.stats import chi2_contingency
print(chi2_contingency(df))

Chi2ContingencyResult(statistic=9.045792112299468, pvalue=0.0026330012530379632, dof=1, expected_freq=array([[89.04761905, 20.95238095],
       [80.95238095, 19.04761905]]))

## 2-2 로우 데이터

In [16]:
import pandas as pd
data = {
    '성별': ['남자']*110 + ['여자']*100,
    '운동': ['좋아함']*80 + ['좋아하지 않음']*30 + ['좋아함']*90 + ['좋아하지 않음']*10
}
df = pd.DataFrame(data)
print(df.head(3))

   성별   운동
0  남자  좋아함
1  남자  좋아함
2  남자  좋아함

In [18]:
df = pd.crosstab(df['성별'], df['운동'])
df

운동  좋아하지 않음  좋아함
성별
남자       30   80
여자       10   90

In [20]:
from scipy.stats import chi2_contingency
print(chi2_contingency(df))

Chi2ContingencyResult(statistic=9.045792112299468, pvalue=0.0026330012530379632, dof=1, expected_freq=array([[20.95238095, 89.04761905],
       [19.04761905, 80.95238095]]))

# 3.동질성 검정

## 3-1 교차표 데이터

In [22]:
import pandas as pd
from scipy import stats
df = pd.DataFrame([[50, 50], [30, 70]])
print(stats.chi2_contingency(df))

Chi2ContingencyResult(statistic=7.520833333333334, pvalue=0.006098945931214352, dof=1, expected_freq=array([[40., 60.],
       [40., 60.]]))

## 3-2 로우 데이터

In [32]:
import pandas as pd
data = {
    '학과': ['통계학과']*100 + ['컴퓨터공학과']*100,
    '동아리가입여부': ['가입']*50 + ['미가입']*50 + ['가입']*30 + ['미가입']*70
}
df = pd.DataFrame(data)
df.sample(5)

         학과 동아리가입여부
199  컴퓨터공학과     미가입
182  컴퓨터공학과     미가입
171  컴퓨터공학과     미가입
13     통계학과      가입
61     통계학과     미가입

In [34]:
df = pd.crosstab(df['학과'], df['동아리가입여부'])
df

동아리가입여부  가입  미가입
학과
컴퓨터공학과   30   70
통계학과     50   50

In [36]:
from scipy import stats
print(stats.chi2_contingency(df))

Chi2ContingencyResult(statistic=7.520833333333334, pvalue=0.006098945931214352, dof=1, expected_freq=array([[40., 60.],
       [40., 60.]]))