### Q12) 결측치 처리, 최빈값, 데이터 개수

In [2]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [4]:
# 결측치가 가장 많은 컬럼, 출력 결과로 확인
print(df.isnull().sum())

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64

In [6]:
# 특정 컬럼에 결측치가 있을 경우 해당 행 제거
df = df.dropna(subset=['f1'])

In [8]:
# 두 번째로 결측치가 많은 컬럼 최빈값 대체
freq = df['f3'].mode()[0]
df['f3'].fillna(freq, inplace=True)

C:\Users\shs21\AppData\Local\Temp\ipykernel_31736\2093225061.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['f3'].fillna(freq, inplace=True)

In [10]:
# f3 컬럼이 gold인 데이터의 수
print(sum(df['f3']=='gold'))

63

In [14]:
# 풀이 2)
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# 결측치가 가장 많은 컬럼
col = df.isnull().sum().idxmax()

# 특정 컬럼에 결측치가 있을 경우 해당 행 제거
df = df.dropna(subset=[col])

# 두 번째로 결측치가 많은 컬럼 최빈값 대체
freq = df['f3'].mode()[0]
df['f3'] = df['f3'].fillna(freq)

# f3 컬럼이 gold인 데이터의 수
print(len(df[df['f3']=='gold']))

63

### Q13) 결측 데이터 찾기, 필터링, 평균값

In [17]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [19]:
# 결측치가 있는 데이터 True/False
cond = df['f1'].isnull()

In [21]:
# 결측치가 있는 데이터 선택
df = df[cond]

In [23]:
# age의 평균값
result = df['age'].mean()

In [25]:
# 소수 첫째 자리까지 출력
print(round(result, 1))

53.6

### Q14) 중복 데이터 제거, 값 변경, 데이터개수

In [28]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [30]:
# 중복 데이터 제거
df.drop_duplicates(inplace=True)

In [32]:
# 값 대체
import numpy as np
df['f3']=df['f3'].replace(np.nan, 0).replace('silver', 1).replace('gold', 2).replace('vip', 3)

C:\Users\shs21\AppData\Local\Temp\ipykernel_31736\2705564861.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['f3']=df['f3'].replace(np.nan, 0).replace('silver', 1).replace('gold', 2).replace('vip', 3)

In [34]:
# f3 컬럼의 총합(정수형으로 출력)
print(int(df['f3'].sum()))

167

In [36]:
# 풀이 2)
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# 중복 데이터 제거
df.drop_duplicates(inplace=True)

# 계산
r1 = sum(df['f3']=='silver') * 1
r2 = sum(df['f3']=='gold') * 2
r3 = sum(df['f3']=='vip') * 3
print(r1 + r2 + r3)

167

### Q15) 컬럼 삭제, 행 단위 합계, 필터링

In [39]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [41]:
# 자료형이 object가 아닌 컬럼 선택
cols = df.select_dtypes(exclude='object').columns
df = df[cols]

In [43]:
# 결측치 0으로 대체
df = df.fillna(0)

# 행과 열 변경
df = df.T

In [45]:
# 행별 합이 3000보다 큰 데이터 수
print(sum(df.sum()>3000))

88

### Q16) 이상치, IQR

In [66]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [68]:
# 3사분위/1사분위
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

In [70]:
# IQR 계산
IQR = q3 - q1

In [72]:
# 이상치 기준 찾기
line1 = q1 - 1.5*IQR
line2 = q3 + 1.5*IQR

In [74]:
# 이상치 조건에 만족하는 데이터 찾기
cond1 = df['views']<line1
cond2 = df['views']>line2
df = df[cond1|cond2]

In [76]:
# views 컬럼 합
print(int(df['views'].sum()))

77699

### Q17) 이상치, 소수점 있는 데이터 찾기, 표준편차

In [79]:
import pandas as pd
df=pd.read_csv("type1_data1.csv")

In [81]:
# 표준편차
r1 = df['views'].std()

In [83]:
# 음수이거나 0 데이터 제외
cond = df['age']<=0
df = df[~cond]

In [85]:
# 소수점이 없는 값만 선택
cond = df['age']==round(df['age'], 0)
df = df[cond]

In [87]:
# 표준편차
r2 = df['views'].std()

print(round(r1+r2, 2))

8297.31

### Q18) 데이터(행) 기준 평균값, 인덱싱

In [90]:
import pandas as pd
df = pd.read_csv("type1_data2.csv", index_col="year")

In [92]:
# 2001, 평균보다 큰 값 개수 합계
m1 = df.loc[2001].mean()
cond1 = df.loc[2001]>m1
r1 = sum(cond1)

In [96]:
# 2003, 평균보다 작은 값 개수 합계
m2 = df.loc[2003].mean()
cond2 = df.loc[2003]<m2
r2 = sum(cond2)

print(r1+r2)

202

In [98]:
# 풀이 2)
import pandas as pd
df = pd.read_csv("type1_data2.csv", index_col="year")
df = df.T # 행과 열 변경

In [100]:
# 평균보다 큰 값 합계
m1 = df[2001].mean()
cond1 = df[2001]>m1
r1 = sum(cond1)

In [102]:
# 평균보다 작은 값 합계
m2 = df[2003].mean()
cond2 = df[2003]<m2
r2 = sum(cond2)

print(r1+r2)

202

### Q19) 결측치(뒤의 값으로 대체), 그룹합

In [117]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [119]:
# 결측치 채우기
df = df.fillna(method='bfill')

C:\Users\shs21\AppData\Local\Temp\ipykernel_31736\2276214415.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='bfill')

In [121]:
# city와 f2 기준 그룹합 계산
df = df.groupby(['city', 'f2']).sum(numeric_only=True).reset_index()

In [123]:
# 내림차순 정렬
df = df.sort_values('views', ascending=False)

In [125]:
# 3번째로 큰 값 출력
print(df.iloc[2, 0])

경기

### Q20) 시계열 데이터, 월별 집계, 인덱스

In [128]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [130]:
# 자료형 변환
df['subscribed']=pd.to_datetime(df['subscribed'])

In [132]:
# 파생변수 생성
df['month']=df['subscribed'].dt.month

In [134]:
# 월별로 데이터 합 집계
df = df.groupby('month').sum(numeric_only=True)

In [136]:
# 오름차순 정렬 및 가장 작은 값 출력
print(df.sort_values('views').index[0])

11