### Q6) 필터링, 분산

In [2]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [4]:
# 조건에 맞는 데이터
cond1 = df['f3']=='gold'
cond2 = df['f2']==2
df = df[cond1 & cond2]

# 분산
result = df['f1'].var()

# 출력
print(round(result, 2))

235.43

### Q7) 값 변경(연산), 필터링 절댓값

In [7]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [9]:
# 나이+1
df['age'] = df['age'] + 1

# 20대, 30대 조건
cond1 = (df['age']>=20) & (df['age']<30)
cond2 = (df['age']>=30) & (df['age']<40)

# 20대 views의 평균과 30대 views의 평균의 차이의 절댓값
result = abs(df[cond1]['views'].mean() - df[cond2]['views'].mean())

print(round(result, 2))

263.13

### Q8) 시계열 데이터, 필터링, 데이터 개수

In [12]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [14]:
# 자료형 변환
df['subscribed'] = pd.to_datetime(df['subscribed'])

In [16]:
# 파생변수 생성(연, 월)
df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month

In [18]:
# 2024년 2월이고, 'f3'이 gold인 데이터
cond1 = df['year']==2024
cond2 = df['month']==2
cond3 = df['f3']=='gold'
df = df[cond1 & cond2 & cond3]

In [20]:
# 데이터 개수
print(len(df))

5

### Q9) 필터링, 카테고리, 최빈값

In [23]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [25]:
# views수가 1000 이하
cond = df['views']<=1000
df = df[cond]

# f4 컬럼 종류별 개수
df = df['f4'].value_counts()  # 자동으로 내림차순 정렬!!

# f4 컬럼 최빈값
print(df.index[0])

ISFJ

In [27]:
# 풀이 2
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# views수가 1000 이하
cond = df['views']<=1000
df = df[cond]

# f4컬럼 최빈값
print(df['f4'].mode()[0])

ISFJ

### Q10) 그룹핑, 최댓값, 정렬

In [30]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [32]:
# 결측치가 있는 행 삭제
df.dropna(inplace=True)

In [34]:
# 지역별 평균 계산
df = df.groupby(['city']).mean(numeric_only=True)

In [36]:
# f2 컬럼이 가장 큰 지역 출력
print(df.sort_values("f2", ascending=False).index[0])

서울

In [38]:
# 풀이 2
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [40]:
# 결측치가 있는 행 삭제
df.dropna(inplace=True)

In [42]:
# 지역별 평균 계산
df = df.groupby(['city']).mean(numeric_only=True)

In [44]:
# f2 컬럼이 가장 큰 지역 출력
print(df['f2'].idxmax())

서울

### Q11) 슬라이싱, 사분위수, 결측치 제거

In [47]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

In [49]:
# 결측치가 있는 행 제거
df.dropna(inplace=True)

In [51]:
# 70% 지점
end = int(len(df)*0.7)

In [53]:
# 70% 데이터 슬라이싱
df = df.iloc[:end]

In [55]:
# 3사분위수, 1사분위수
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

In [57]:
# 결과 출력
print(int(q3 - q1))

2771