<a href="https://colab.research.google.com/github/Song-Hyunsub/Univ_Study/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EC%9D%B4%ED%95%B4_%EC%8B%A4%EC%8A%B5/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_13%EC%B0%A8%EC%8B%9C_%ED%85%8C%EC%8A%A4%ED%8A%B8_%EB%9E%9C%EB%8D%A4%ED%8F%AC%EB%A0%88%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

np.random.seed(0)

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [ ]:
#iris데이터를 로딩함.
iris = load_iris()

In [ ]:
#데이터프레임으로 바꾼다.
df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [ ]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
iris.target, iris.target_names

(array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 array(['setosa', 'versicolor', 'virginica'], dtype='<U10'))

In [ ]:
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

In [ ]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [ ]:
print(sum(np.random.uniform(0, 1, len(df)) < 0.75))
np.random.uniform(0, 1, len(df))

110

array([4.46793320e-01, 8.36990365e-01, 2.21824031e-01, 4.93945256e-01,
       9.29618739e-01, 6.67214707e-01, 7.98079020e-01, 5.50993970e-01,
       9.80466459e-01, 5.88662155e-01, 4.55107140e-02, 1.97982800e-01,
       4.04773629e-01, 6.01277173e-01, 7.71930867e-01, 4.13086126e-01,
       7.10058305e-01, 7.89869503e-01, 3.17260197e-01, 9.79270240e-01,
       6.49656495e-01, 8.80998061e-01, 5.55937689e-01, 7.41603107e-01,
       7.70544062e-01, 9.08248379e-01, 1.50349757e-01, 5.58283424e-01,
       4.28378513e-01, 9.23159021e-01, 1.05094694e-01, 9.82573889e-01,
       8.75451324e-01, 7.38262816e-02, 4.90966386e-01, 7.17559500e-01,
       7.38151546e-01, 9.06494125e-01, 7.99865436e-01, 3.10930380e-01,
       4.98434786e-01, 7.01785763e-01, 1.38436841e-01, 1.93990798e-01,
       4.81042448e-01, 2.98245799e-01, 8.62559250e-01, 5.86277322e-01,
       3.48665198e-01, 8.48833026e-01, 8.04878449e-01, 9.98354877e-01,
       8.47307688e-01, 4.14456535e-01, 1.27498882e-01, 8.40640908e-01,
       5.97579180e-02, 3.50271207e-01, 9.19737981e-01, 9.60766473e-01,
       6.40564594e-01, 6.88648317e-01, 4.24544887e-02, 5.14480341e-01,
       5.46868179e-01, 3.40100746e-01, 6.85968348e-02, 2.28907600e-01,
       3.57983937e-01, 4.35141987e-01, 5.90926726e-01, 7.22391519e-01,
       3.17631873e-01, 3.28953760e-01, 1.96916427e-02, 4.08748601e-02,
       2.57821694e-01, 7.40244998e-01, 6.28313830e-01, 7.69789021e-01,
       7.68919436e-01, 8.56567468e-01, 7.20319266e-01, 9.79010919e-01,
       8.98825219e-01, 5.86717166e-01, 5.88157670e-01, 3.42670404e-02,
       9.98526578e-01, 1.31575997e-01, 7.40347197e-01, 8.21015195e-01,
       3.73054529e-01, 1.96852055e-01, 9.87598868e-02, 7.48606006e-01,
       4.52653529e-01, 7.13717759e-01, 9.15407649e-01, 1.46583736e-01,
       9.19171001e-01, 4.11626460e-01, 3.05267010e-01, 9.43062261e-01,
       9.90651693e-01, 1.98892218e-01, 6.56838347e-01, 1.06495314e-01,
       6.50914004e-01, 8.27313228e-01, 6.84498547e-01, 4.17333142e-01,
       3.83066360e-01, 3.93122415e-01, 5.89711818e-01, 8.81567270e-01,
       9.29066157e-01, 5.35296202e-02, 1.81622395e-01, 1.12224316e-01,
       1.93334641e-01, 3.46607811e-01, 5.06531683e-01, 6.29461227e-01,
       7.32142219e-01, 8.90111541e-01, 9.89088437e-01, 6.62856479e-01,
       8.45364519e-01, 7.78038847e-01, 3.07532039e-01, 8.75692270e-01,
       4.27631379e-02, 3.67343751e-04, 2.73732629e-01, 4.62097530e-01,
       6.38362895e-01, 1.01770267e-01, 6.73010134e-01, 8.01815867e-01,
       1.85312920e-01, 4.15125255e-01, 5.19984990e-01, 4.51807018e-01,
       7.99829931e-01, 9.60522398e-01, 7.98953164e-01, 7.79928179e-02,
       8.04935572e-01, 6.65963322e-02])

In [ ]:
len(df) * 0.75

112.5

In [ ]:
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75

In [ ]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,True

In [ ]:
train, test = df[df['is_train']==True], df[df['is_train']==False]
train.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,True

In [ ]:
test.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
6,4.6,3.4,1.4,0.3,setosa,False
8,4.4,2.9,1.4,0.2,setosa,False
9,4.9,3.1,1.5,0.1,setosa,False
20,5.4,3.4,1.7,0.2,setosa,False
21,5.1,3.7,1.5,0.4,setosa,False

In [ ]:
print('Number of observations in the training data:', len(train))
print('Number of observations in the test data:',len(test))

Number of observations in the training data: 106
Number of observations in the test data: 44

In [ ]:
features = df.columns[:4]
features

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [ ]:
y = pd.factorize(train['species'])[0]
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [ ]:
#위의 데이터를 기반으로 하여 랜덤포레스트 분류모델 만들어보기. (트리의 개수는 10개)

In [ ]:
clf = RandomForestClassifier(n_estimators=10)
clf.fit(train[features], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [ ]:
#test[features] 로 예측을 하여 보세요. 어떤 결과가 나올까요?
#class를 예측하는 함수와 class별 확률을 예측하는 함수를 사용해 보십시요.

In [ ]:
clf.predict(test[features])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2],
      dtype=int64)

In [ ]:
clf.predict_proba(test[features])

array([[1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0.1, 0.9],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0.1, 0.9],
       [0. , 0.4, 0.6],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0.5, 0.5],
       [0. , 0.2, 0.8],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ]])