<a href="https://colab.research.google.com/github/Song-Hyunsub/Univ_Study/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EC%9D%B4%ED%95%B4_%EC%8B%A4%EC%8A%B5/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_10%EC%B0%A8%EC%8B%9C_%ED%85%8C%EC%8A%A4%ED%8A%B8_%EC%8B%A0%EA%B2%BD%EB%A7%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd

In [ ]:
df = pd.read_csv('Dataset_spine.csv')

In [ ]:
df

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Class_att,Unnamed: 13
0,63.027818,22.552586,39.609117,40.475232,98.672917,-0.254400,0.744503,12.5661,14.5386,15.30468,-28.658501,43.5123,Abnormal,NaN
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,0.415186,12.8874,17.5323,16.78486,-25.530607,16.1102,Abnormal,NaN
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,0.474889,26.8343,17.4861,16.65897,-29.031888,19.2221,Abnormal,Prediction is done by using binary classificat...
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,0.369345,23.5603,12.7074,11.42447,-30.470246,18.8329,Abnormal,NaN
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,0.543360,35.4940,15.9546,8.87237,-16.378376,24.9171,Abnormal,NaN
5,40.250200,13.921907,25.124950,26.328293,130.327871,2.230652,0.789993,29.3230,12.0036,10.40462,-1.512209,9.6548,Abnormal,Attribute1 = pelvic_incidence (numeric)
6,53.432928,15.864336,37.165934,37.568592,120.567523,5.988551,0.198920,13.8514,10.7146,11.37832,-20.510434,25.9477,Abnormal,Attribute2 = pelvic_tilt (numeric)
7,45.366754,10.755611,29.038349,34.611142,117.270068,-10.675871,0.131973,28.8165,7.7676,7.60961,-25.111459,26.3543,Abnormal,Attribute3 = lumbar_lordosis_angle (numeric)
8,43.790190,13.533753,42.690814,30.256437,125.002893,13.289018,0.190408,22.7085,11.4234,10.59188,-20.020075,40.0276,Abnormal,Attribute4 = sacral_slope (numeric)
9,36.686353,5.010884,41.948751,31.675469,84.241415,0.664437,0.367700,26.2011,8.7380,14.91416,-1.702097,21.4320,Abnormal,Attribute5 = pelvic_radius (numeric)
10,49.706610,13.040974,31.334500,36.665635,108.648265,-7.825986,0.688010,31.3502,16.5097,15.17645,-0.502127,18.3437,Abnormal,Attribute6 = degree_spondylolisthesis (numeric)
11,31.232387,17.715819,15.500000,13.516568,120.055399,0.499751,0.608343,21.4356,9.2589,14.76412,-21.724559,36.4449,Abnormal,Attribute7= pelvic_slope(numeric)
12,48.915551,19.964556,40.263794,28.950995,119.321358,8.028895,0.139478,32.7916,7.2049,8.61882,-1.215542,27.3713,Abnormal,Attribute8= Direct_tilt(numeric)
13,53.572170,20.460828,33.100000,33.111342,110.966698,7.044803,0.081931,15.0580,12.8127,12.00109,-1.734117,15.6205,Abnormal,Attribute9= thoracic_slope(numeric)
14,57.300227,24.188885,47.000000,33.111342,116.806587,5.766947,0.416722,16.5158,18.6222,8.51898,-33.441303,13.2498,Abnormal,Attribute10= cervical_tilt(numeric)
15,44.318907,12.537992,36.098763,31.780915,124.115836,5.415825,0.664041,9.5021,19.1756,7.25707,-32.893911,19.5695,Abnormal,Attribute11=sacrum_angle(numeric)
16,63.834982,20.362507,54.552434,43.472475,112.309492,-0.622527,0.560675,10.7690,16.8116,11.41344,2.676002,17.3859,Abnormal,Attribute12= scoliosis_slope(numeric)
17,31.276012,3.144669,32.562996,28.131342,129.011418,3.623020,0.534481,31.1641,18.6089,8.44020,4.482424,24.6513,Abnormal,NaN
18,38.697912,13.444749,31.000000,25.253163,123.159251,1.429186,0.306581,28.3015,17.9575,14.75417,-14.252676,24.9361,Abnormal,NaN
19,41.729963,12.254074,30.122586,29.475889,116.585706,-1.244402,0.468526,28.5598,12.4637,14.19610,-20.392538,33.0265,Abnormal,"Attribute class {Abnormal, Normal}"
20,43.922840,14.177959,37.832547,29.744881,134.461016,6.451648,0.280446,12.4719,16.8965,10.32658,-4.986668,22.4667,Abnormal,NaN
21,54.919443,21.062332,42.200000,33.857110,125.212716,2.432561,0.175245,23.0791,14.2195,14.14196,3.780394,24.9278,Abnormal,NaN
22,63.073611,24.413803,54.000000,38.659808,106.424329,15.779697,0.666388,11.9696,17.6891,7.63771,-14.183602,44.2338,Abnormal,NaN
23,45.540790,13.069598,30.298321,32.471192,117.980830,-4.987130,0.567450,23.8889,9.1019,7.70987,-19.379030,20.3649,Abnormal,NaN
24,36.125683,22.758753,29.000000,13.366931,115.577116,-3.237562,0.126474,25.6206,15.7438,11.55610,-18.108941,24.1151,Abnormal,NaN
25,54.124920,26.650489,35.329747,27.474432,121.447011,1.571205,0.928688,14.6686,13.5700,16.12951,-17.630363,28.1902,Abnormal,NaN
26,26.147921,10.759454,14.000000,15.388468,125.203296,-10.093108,0.391971,9.8710,8.6406,15.78046,-19.650163,43.9550,Abnormal,NaN
27,43.580964,16.508884,47.000000,27.072080,109.271634,8.992816,0.594176,30.4577,17.9700,10.79356,-25.180777,18.3196,Abnormal,NaN
28,44.551012,21.931147,26.785916,22.619865,111.072920,2.652321,0.527891,32.4275,10.2244,11.71324,-28.506125,28.0470,Abnormal,NaN
29,66.879211,24.891999,49.278597,41.987212,113.477018,-2.005892,0.677268,12.4271,8.2495,7.58784,-3.963385,27.3587,Abnormal,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,50.086153,13.430044,34.457541,36.656108,119.134622,3.089484,0.744333,31.9991,15.1042,14.46625,-7.052293,15.9536,Normal,NaN
281,64.261507,14.497866,43.902504,49.763642,115.388268,5.951454,0.033703,32.2615,15.3692,16.31794,-4.179409,32.9659,Normal,NaN
282,53.683380,13.447022,41.584297,40.236358,113.913703,2.737035,0.702208,24.7795,11.4937,10.80051,-30.625194,41.9010,Normal,NaN
283,48.995958,13.113820,51.873520,35.882137,126.398188,0.535472,0.732730,33.7477,7.5426,15.74090,-6.421289,11.9857,Normal,NaN
284,59.167612,14.562749,43.199158,44.604863,121.035642,2.830504,0.693906,24.8746,14.7433,8.02792,-33.650471,16.7094,Normal,NaN
285,67.804694,16.550662,43.256802,51.254033,119.685645,4.867540,0.036158,18.4894,15.4016,13.86568,-17.473008,39.3526,Normal,NaN
286,61.734875,17.114312,46.900000,44.620563,120.920200,3.087726,0.455056,8.8660,14.9831,8.27541,-0.488760,24.9564,Normal,NaN
287,33.041688,-0.324678,19.071075,33.366366,120.388611,9.354365,0.167309,17.1960,11.2466,9.14463,-29.114560,40.9249,Normal,NaN
288,74.565015,15.724320,58.618582,58.840695,105.417304,0.599247,0.117780,18.0547,15.6236,10.54562,-32.494544,16.6229,Normal,NaN
289,44.430701,14.174264,32.243495,30.256437,131.717613,-3.604255,0.126792,15.1269,7.9912,12.23055,-26.340144,32.3929,Normal,NaN
290,36.422485,13.879424,20.242562,22.543061,126.076861,0.179717,0.686409,8.3909,10.8700,7.27404,-26.195988,21.8465,Normal,NaN
291,51.079833,14.209935,35.951229,36.869898,115.803711,6.905090,0.705726,24.1378,12.6652,13.92353,-3.478546,28.7425,Normal,NaN
292,34.756738,2.631740,29.504381,32.124998,127.139850,-0.460894,0.281612,24.1257,11.2762,11.54866,-12.025220,44.3412,Normal,NaN
293,48.902904,5.587589,55.500000,43.315316,137.108289,19.854759,0.215175,29.8825,9.9608,10.86798,1.956131,23.7274,Normal,NaN
294,46.236399,10.062770,37.000000,36.173629,128.063620,-5.100053,0.860784,9.5912,15.1769,16.49989,-22.420021,40.2061,Normal,NaN
295,46.426366,6.620795,48.100000,39.805571,130.350096,2.449382,0.515439,9.1955,10.6369,15.11344,2.963625,23.0719,Normal,NaN
296,39.656902,16.208839,36.674857,23.448063,131.922009,-4.968980,0.794717,31.3737,18.3533,13.16102,-6.652617,26.3297,Normal,NaN
297,45.575482,18.759135,33.774143,26.816347,116.797007,3.131910,0.514212,24.2526,12.9572,12.40401,-12.363109,31.9668,Normal,NaN
298,66.507179,20.897672,31.727471,45.609507,128.902905,1.517203,0.787252,12.8877,11.8978,9.23220,-14.824364,43.8409,Normal,NaN
299,82.905351,29.894119,58.250542,53.011232,110.708958,6.079338,0.827146,12.5622,12.3646,16.61754,-15.758791,35.9458,Normal,NaN
300,50.676677,6.461501,35.000000,44.215175,116.587970,-0.214711,0.021178,18.7846,8.0070,9.74352,-1.228604,14.2547,Normal,NaN
301,89.014875,26.075981,69.021259,62.938894,111.481075,6.061508,0.544505,27.0219,13.3731,11.04819,-3.505300,33.4196,Normal,NaN
302,54.600316,21.488974,29.360216,33.111342,118.343321,-1.471067,0.962907,30.8554,11.4198,13.82322,-5.606449,18.5514,Normal,NaN
303,34.382299,2.062683,32.390820,32.319617,128.300199,-3.365516,0.581169,12.0774,16.6255,7.20496,-31.374823,29.5748,Normal,NaN
304,45.075450,12.306951,44.583177,32.768499,147.894637,-8.941709,0.932922,32.1169,14.3037,10.64326,-31.198847,11.2307,Normal,NaN
305,47.903565,13.616688,36.000000,34.286877,117.449062,-4.245395,0.129744,7.8433,14.7484,8.51707,-15.728927,11.5472,Normal,NaN
306,53.936748,20.721496,29.220534,33.215251,114.365845,-0.421010,0.047913,19.1986,18.1972,7.08745,6.013843,43.8693,Normal,NaN
307,61.446597,22.694968,46.170347,38.751628,125.670725,-2.707880,0.081070,16.2059,13.5565,8.89572,3.564463,18.4151,Normal,NaN
308,45.252792,8.693157,41.583126,36.559635,118.545842,0.214750,0.159251,14.7334,16.0928,9.75922,5.767308,33.7192,Normal,NaN
309,33.841641,5.073991,36.641233,28.767649,123.945244,-0.199249,0.674504,19.3825,17.6963,13.72929,1.783007,40.6049,Normal,NaN

In [ ]:
df = df.drop(['Unnamed: 13'], axis=1)

In [ ]:
df.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Class_att
0,63.027818,22.552586,39.609117,40.475232,98.672917,-0.254400,0.744503,12.5661,14.5386,15.30468,-28.658501,43.5123,Abnormal
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,0.415186,12.8874,17.5323,16.78486,-25.530607,16.1102,Abnormal
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,0.474889,26.8343,17.4861,16.65897,-29.031888,19.2221,Abnormal
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,0.369345,23.5603,12.7074,11.42447,-30.470246,18.8329,Abnormal
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,0.543360,35.4940,15.9546,8.87237,-16.378376,24.9171,Abnormal

In [ ]:
df.describe()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12
count,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000
mean,60.496653,17.542822,51.930930,42.953831,117.920655,26.296694,0.472979,21.321526,13.064511,11.933317,-14.053139,25.645981
std,17.236520,10.008330,18.554064,13.423102,13.317377,37.559027,0.285787,8.639423,3.399713,2.893265,12.225582,10.450558
min,26.147921,-6.554948,14.000000,13.366931,70.082575,-11.058179,0.003220,7.027000,7.037800,7.030600,-35.287375,7.007900
25%,46.430294,10.667069,37.000000,33.347122,110.709196,1.603727,0.224367,13.054400,10.417800,9.541140,-24.289522,17.189075
50%,58.691038,16.357689,49.562398,42.404912,118.268178,11.767934,0.475989,21.907150,12.938450,11.953835,-14.622856,24.931950
75%,72.877696,22.120395,63.000000,52.695888,125.467674,41.287352,0.704846,28.954075,15.889525,14.371810,-3.497094,33.979600
max,129.834041,49.431864,125.742385,121.429566,163.071041,418.543082,0.998827,36.743900,19.324000,16.821080,6.972071,44.341200

In [ ]:
df = df.drop(['Col7','Col8','Col9','Col10','Col11','Col12'], axis=1)

In [ ]:
df.head()

        Col1       Col2       Col3       Col4        Col5       Col6 Class_att
0  63.027818  22.552586  39.609117  40.475232   98.672917  -0.254400  Abnormal
1  39.056951  10.060991  25.015378  28.995960  114.405425   4.564259  Abnormal
2  68.832021  22.218482  50.092194  46.613539  105.985135  -3.530317  Abnormal
3  69.297008  24.652878  44.311238  44.644130  101.868495  11.211523  Abnormal
4  49.712859   9.652075  28.317406  40.060784  108.168725   7.918501  Abnormal

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [ ]:
y = df['Class_att']
x = df.drop(['Class_att'], axis=1)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.25, random_state=27)

In [ ]:
x_train

          Col1       Col2       Col3       Col4        Col5        Col6
308  45.252792   8.693157  41.583126  36.559635  118.545842    0.214750
274  43.191915   9.976664  28.938149  33.215251  123.467400    1.741018
122  80.074914  48.069531  52.403439  32.005383  110.709912   67.727316
269  37.140150  16.481240  24.000000  20.658910  125.014361    7.366425
208  87.679087  20.365613  93.822416  67.313473  120.944829   76.730629
143  60.626217  20.595958  64.535262  40.030259  117.225554  104.859247
224  89.834676  22.639217  90.563461  67.195460  100.501192    3.040973
161  67.263149   7.194661  51.696887  60.068488   97.801085   42.136943
66   78.491730  22.181798  60.000000  56.309932  118.530327   27.383213
249  50.753290  20.235060  37.000000  30.518231  122.343516    2.288488
120  54.741775  12.095072  41.000000  42.646703  117.643219   40.382327
282  53.683380  13.447022  41.584297  40.236358  113.913703    2.737035
180  37.903910   4.479099  24.710274  33.424811  157.848799   33.607027
38   55.843286  28.847448  47.690543  26.995838  123.311845    2.812427
97   74.720746  19.756942  82.735360  54.963804  109.356594   33.306067
272  39.358705   7.011262  37.000000  32.347443  117.818760    1.904048
212  44.362490   8.945435  46.902096  35.417055  129.220682    4.994195
297  45.575482  18.759135  33.774143  26.816347  116.797007    3.131910
37   35.703458  19.443253  20.700000  16.260205  137.540613   -0.263490
230  65.611802  23.137919  62.582179  42.473883  124.128001   -4.083298
58   43.203185  19.663146  35.000000  23.540039  124.846109   -2.919076
220  44.489275  21.786433  31.474154  22.702842  113.778494   -0.284129
110  63.900633  13.706204  62.124334  50.194429  114.129243   41.422828
256  54.752520   9.752520  48.000000  45.000000  123.037999    8.235294
104  77.409333  29.396545  63.232302  48.012788  118.450731   93.563737
168  95.382596  24.822631  95.157633  70.559965   89.307547   57.660841
254  72.955644  19.576971  61.007071  53.378673  111.234047    0.813491
285  67.804694  16.550662  43.256802  51.254033  119.685645    4.867540
276  51.325464  13.631223  33.258578  37.694240  131.306122    1.788870
39   52.419385  19.011561  35.872660  33.407825  116.559771    1.694705
..         ...        ...        ...        ...         ...         ...
176  67.027664  13.281502  66.150403  53.746162  100.715413   33.989136
291  51.079833  14.209935  35.951229  36.869898  115.803711    6.905090
33   38.663257  12.986441  40.000000  25.676816  124.914118    2.703008
53   30.149936  11.917445  34.000000  18.232491  112.684141   11.463223
187  60.419932   5.265665  59.814236  55.154267  109.033075   30.265785
93   58.101935  14.837639  79.649838  43.264295  113.587655   50.237878
204  56.535051  14.377189  44.991547  42.157862  101.723334   25.773174
218  51.624672  15.969344  35.000000  35.655328  129.385308    1.009228
259  63.619192  16.934508  49.349262  46.684684  117.089747   -0.357812
288  74.565015  15.724320  58.618582  58.840695  105.417304    0.599247
250  36.157830  -0.810514  33.627314  36.968344  135.936910   -2.092507
79   47.744679  12.089351  39.000000  35.655328  117.512004   21.682401
15   44.318907  12.537992  36.098763  31.780915  124.115836    5.415825
159  64.274818  12.508643  68.702377  51.766175   95.252454   39.409826
4    49.712859   9.652075  28.317406  40.060784  108.168725    7.918501
177  80.817771  19.238981  61.642451  61.578791   89.471834   44.167602
174  61.411737  25.384364  39.096869  36.027373  103.404597   21.843407
225  59.726140   7.724873  55.343485  52.001268  125.174221    3.235159
170  64.809541  15.174078  58.839994  49.635463  111.679961   21.407198
191  86.472905  40.303766  61.141012  46.169139   97.404189   55.752221
127  80.433428  16.998479  66.536018  63.434949  116.438981   57.781250
2    68.832021  22.218482  50.092194  46.613539  105.985135   -3.530317
141  89.504947  48.903653  72.003423  40.601295  134.634291  118.353370
25   54.124920  26.650489  35.329747  27.474432  121.447011    1.571205
24   36.125683  22.758753  29.000000  13.366931  115.577116   -3.237562
293  48.902904   5.587589  55.500000  43.315316  137.108289   19.854759
240  41.646916   8.835549  36.031975  32.811367  116.555168   -6.054538
31   46.390260  11.079047  32.136553  35.311213   98.774546    6.386832
184  81.056611  20.801492  91.784495  60.255119  125.430176   38.181782
19   41.729963  12.254074  30.122586  29.475889  116.585706   -1.244402

[232 rows x 6 columns]

In [ ]:
y_train

308      Normal
274      Normal
122    Abnormal
269      Normal
208    Abnormal
143    Abnormal
224      Normal
161    Abnormal
66     Abnormal
249      Normal
120    Abnormal
282      Normal
180    Abnormal
38     Abnormal
97     Abnormal
272      Normal
212      Normal
297      Normal
37     Abnormal
230      Normal
58     Abnormal
220      Normal
110    Abnormal
256      Normal
104    Abnormal
168    Abnormal
254      Normal
285      Normal
276      Normal
39     Abnormal
         ...
176    Abnormal
291      Normal
33     Abnormal
53     Abnormal
187    Abnormal
93     Abnormal
204    Abnormal
218      Normal
259      Normal
288      Normal
250      Normal
79     Abnormal
15     Abnormal
159    Abnormal
4      Abnormal
177    Abnormal
174    Abnormal
225      Normal
170    Abnormal
191    Abnormal
127    Abnormal
2      Abnormal
141    Abnormal
25     Abnormal
24     Abnormal
293      Normal
240      Normal
31     Abnormal
184    Abnormal
19     Abnormal
Name: Class_att, Length: 232, dtype: object

In [ ]:
#위의 데이터를 이용하여 신경망 모델을 만들어 보자.
#hidden layer의 크기는 각각 100 , 50 , 80으로 하고 epoch의 수는 500으로 한다.

In [ ]:
clf = MLPClassifier(hidden_layer_sizes=(100,50,80), max_iter=500)

In [ ]:
clf

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100, 50, 80), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [ ]:
#모델을 생성하였으면 모델을 훈련하고 예측을 하여 본다. 예측은 x_test로 한다.

In [ ]:
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [ ]:
y_pred

array(['Abnormal', 'Abnormal', 'Normal', 'Normal', 'Abnormal', 'Normal',
       'Normal', 'Normal', 'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Abnormal', 'Normal', 'Abnormal',
       'Abnormal', 'Normal', 'Normal', 'Abnormal', 'Abnormal', 'Abnormal',
       'Normal', 'Abnormal', 'Normal', 'Abnormal', 'Normal', 'Abnormal',
       'Abnormal', 'Normal', 'Abnormal', 'Abnormal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Normal', 'Normal', 'Normal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Normal', 'Normal', 'Abnormal', 'Normal',
       'Abnormal', 'Abnormal', 'Normal', 'Abnormal', 'Normal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Normal', 'Normal', 'Normal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Normal', 'Abnormal', 'Normal', 'Abnormal',
       'Normal', 'Abnormal', 'Normal', 'Normal', 'Abnormal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal', 'Normal', 'Normal',
       'Normal', 'Normal'], dtype='<U8')

In [ ]:
y_pred == y_test

70      True
69      True
21     False
228     True
200     True
227     True
258     True
248     True
3       True
137     True
166     True
183     True
193     True
65      True
88      True
26     False
164     True
241    False
253     True
247     True
61      True
244    False
298    False
23     False
115     True
270     True
205     True
299     True
148     True
8       True
       ...
226     True
145     True
10     False
160     True
201     True
49      True
7      False
215     True
300     True
178     True
152     True
165     True
48     False
74      True
281     True
206     True
68     False
155     True
231     True
214     True
123     True
71      True
125     True
157     True
147     True
188     True
295     True
268     True
54     False
40     False
Name: Class_att, Length: 78, dtype: bool

In [ ]:
#모두 몇%가 정답으로 맞추었는가?

In [ ]:
import numpy as np
np.mean(y_pred == y_test)

0.8333333333333334