<a href="https://colab.research.google.com/github/Song-Hyunsub/Univ_Study/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EC%9D%B4%ED%95%B4_%EC%8B%A4%EC%8A%B5/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_15%EC%B0%A8%EC%8B%9C_%ED%85%8C%EC%8A%A4%ED%8A%B8_TFIDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

corpus = [
     'This is the first document.',
     'This document is the second document.',
     'And this is the third one.',
     'Is this the first document?',
 ]

In [ ]:
#위의 문장에 대하여 TF-IDF분석을 하기 위한 모델을 만들고 단어 추출하기(필터링 함수는 따로 없음))

In [ ]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
words = vectorizer.get_feature_names()
print(words)

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [ ]:
#위에서 추출한 단어를 기반으로 하여 TF-IDF 점수를 행렬형태로 나타내시오.

In [ ]:
pd.DataFrame(X.toarray(), columns=words)

,and,document,first,is,one,second,the,third,this
0,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085

In [ ]:
#같은 방법으로 빈도수분포를 하기 위한 모델을 만들고 단어를 추출하세요(필터링 함수는 따로 없음)

In [ ]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)
words = vectorizer.get_feature_names()
print(words)

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [ ]:
#위에서 추출한 단어를 기반으로 하여 빈도수 점수를 행렬형태로 나타내시오.

In [ ]:
pd.DataFrame(X.toarray(), columns=words)

   and  document  first  is  one  second  the  third  this
0    0         1      1   1    0       0    1      0     1
1    0         2      0   1    0       1    1      0     1
2    1         0      0   1    1       0    1      1     1
3    0         1      1   1    0       0    1      0     1